.statistic {
  padding-top: 100px;
  .wrapper-gs {
    margin-bottom: 40px;

    form {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      .inputs-wrapper {
        border: 2px solid $hr-color;
        height: 40px;
        display: flex;
        align-items: center;
        input[type='date'] {
          padding-top: 5px;
          text-align: end;
          outline: none;
        }
        input[type='date']::-webkit-calendar-picker-indicator {
          color: transparent;
          background: none;
        }
        .first-date-picker {
          border-right: 1px solid $hr-color;
          border-left: none;
          border-top: none;
          border-bottom: none;
        }
        .second-date-picker {
          border: none;
        }
        .second-date-picker::after {
          background-image: url('../images/icons/calendar.svg');
          display: block;
          width: 15px;
          height: 15px;
          background-size: 15px;
          content: ' ';
          margin-right: 10px;
          filter: invert(50%);
        }
      }
      button {
        border: none;
        margin-left: 15px;
        background-color: #f58220;
        width: 40px;
        border-radius: 5px;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
          filter: invert(1);
          vertical-align: -2px;
        }
      }
      button:hover {
        background-color: $button-hover;
      }
    }
  }
}
.columns {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .columns-flex {
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
  }
  .column-text {
    color: $menu-color;
    font-family: $main-font;
    font-size: 18px;
    font-weight: bold;
  }
  .column-value {
    font-family: $main-font;
    font-size: 16px;
  }
}
/* chart */
.chart-container {
  padding-top: 50px;
  width: 60%;
  margin: 50px auto;

  span {
    color: $menu-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 14px;
  }
}
