.sidebar {
  background-color: $siderbar-background;
  height: 100vh;
  width: 190px;
}
.logo {
  padding-top: 10px;
  padding-bottom: 22px;
  span {
    font-size: 26px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    margin-left: 25px;
  }
  a {
    text-decoration: none;
    margin-left: 25px;
    color: $menu-color;
    font-size: 20px;
  }
}
.navigation {
  position: relative;
  ul {
    list-style-type: none;
    padding-left: 20px;
    li {
      padding-bottom: 32px;
      a {
        text-decoration: none;
        color: $menu-color;
        font-family: 'Roboto', sans-serif;

        .icon-sidebar {
          height: 20px;
          width: 20px;
          filter: invert(50%);
          padding-top: 5px;
        }
        span {
          padding-left: 20px;
          font-size: 18px;
        }
      }
    }
  }
}
