/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$background-color: #f6f2f2;
$siderbar-background: #191919;
$menu-color: #999999;
$button-color: #f58220;
$button-hover: #ffa200;
$link-color: #8fa8bb;
$hr-color: #e3e3e3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Open Sans', Helvetica, Arial;
$paragraph-font: 'Open Sans', Helvetica, Arial;
$main-font: 'Roboto', sans-serif;
